@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  /* variables */
  --primary-color: #1E0C61;
  --secondary-color: #5627FF;
  --tertiary-color: #5F2AF3;
  --primary-color-light: #FFFFFF;
  --secondary-color-light: #F5F5F5;
  --tertiary-color-light: #737373;
  --custom-padding: 1rem;
  /* configuration default */
  background-color: var(--secondary-color-light);
  color: var(--primary-color) !important;
  /* color-scheme: light dark; */
  font-weight: 400;
  font-size: 1.125rem;
  /* line-height: 1.75rem; */
  letter-spacing: 0.0025em;
  font-family: Poppins, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

main {
  padding: var(--custom-padding);
}

button {
  border: 1px solid transparent;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  -webkit-transition: border-color 0.25s;
  -moz-transition: border-color 0.25s;
  -ms-transition: border-color 0.25s;
  -o-transition: border-color 0.25s;
  color: var(--primary-color-light) !important;
}

nav {
  padding: var(--custom-padding);
  background: var(--primary-color-light);
  position: relative;
  min-height: 8.7rem;
  box-sizing: border-box;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.09);
}

nav > img {
  top: 0;
  right: 0;
  margin: 1.5rem;
  position: absolute;
}

nav > button {
  position: absolute;
  background: transparent;
  top: 0;
  left: 0;
  margin: 2rem 0 0 1rem;
}

progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: calc(100% - 2rem);
  height: 2px;
}

progress[value]::-webkit-progress-bar {
  background-color: #EBEBEB;
}

progress[value]::-webkit-progress-value {
  background: var(--secondary-color);
}

progress[value]::-moz-progress-bar {
  background-color: #EBEBEB;
}

progress[value]::-moz-progress-value {
  background: var(--secondary-color);
}

input.answer-of-question {
  width: 12.5rem;
  height: 3.5rem !important;
  background: var(--primary-color-light);
  box-shadow: inset 0px 0px 3px rgba(129, 129, 129, 0.36);
  border-radius: 0.875rem;
  -webkit-border-radius: 0.875rem;
  -moz-border-radius: 0.875rem;
  -ms-border-radius: 0.875rem;
  -o-border-radius: 0.875rem;
  outline: none;
  border: none;
  text-align: center;
  letter-spacing: 0.0025em;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 1.75rem;
  color: var(--secondary-color);
}

input.answer-of-question::placeholder {
  text-align: center;
  letter-spacing: 0.0025em;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 1.75rem;
  color: var(--secondary-color);
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h1 {
  font-size: 1.25rem;
  line-height: 2rem;
}

label{
  font-weight: 600;
  font-size: 0.9rem;
  /* line-height: 1rem; */
}

p, .label-selection {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  /* line-height: 1.75rem; */
  letter-spacing: 0.0025em;
}

.map-and-question {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
/* g map style */
.g-map {
  width: 100%;
  height: 100%;
  border-radius: 0.62rem;
  -webkit-border-radius: 0.62rem;
  -moz-border-radius: 0.62rem;
  -ms-border-radius: 0.62rem;
  -o-border-radius: 0.62rem;
  overflow: hidden;
}

.g-map-container {
  width: 100%;
  height: 270px;
}

.question {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  width: 100%;
  height: 3rem;
  max-width: 16.25rem;
  border-radius: 1.875rem;
  -webkit-border-radius: 1.875rem;
  -moz-border-radius: 1.875rem;
  -ms-border-radius: 1.875rem;
  -o-border-radius: 1.875rem;
  font-weight: 500;
  line-height: 2.5rem;
  letter-spacing: 0.02em;
}

.button-active {
  background-color: var(--primary-color);
  color: var(--primary-color-light);
  font-size: 1rem;
}

.button-skip {
  background-color: transparent;
  color: var(--tertiary-color-light);
  font-size: 0.875rem;
  text-decoration: underline;
}

/* custom styles */
.w-full {
  width: 100%;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justyfy-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

/* margin */
.mx-1 {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.ml-1 {
  margin-left: 2rem !important;
}

.ml-2 {
  padding-left: 2rem !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.mt-4 {
  margin-top: 4rem !important;
}

/* padding */
.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

/*  */
.section-of-anwsers {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-of-anwsers > div {
  width: 99%;
  background-color: #FFFFFF;
  padding: 1rem;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
  color: #9B9696;
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.section-of-anwsers > div > span {
  width: 80px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: #EEE9FF;
  padding: 1rem;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
  color: #9B9696;
  color: #5627FF;
  display: flex;
}

.good-answer {
  background: #D5FDF9 !important;
  color: #128E81 !important;
}

.bad-answer {
  background: #FEE9F0 !important;
  color: #F3276B !important;
}
/* desktop media queary */

.section-detail {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.section-detail > div {
  width: 95%;
  min-height: 65px;
  min-width: 240px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  border-radius: 0.9rem;
  -webkit-border-radius: 0.9rem;
  -moz-border-radius: 0.9rem;
  -ms-border-radius: 0.9rem;
  -o-border-radius: 0.9rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.section-detail > div > p {
  margin-left: 1rem;
}

.checkbox-container-question {
  width: 100%;
  flex-direction: column;
  font-weight: 500 !important;
  gap: 2rem;
}

.checkbox-container-question > div{
  margin-top: 1rem;
}

.v-field {
  border-radius: 16px !important;
}

.v-field__outline {
  opacity: 0 !important;
}

.v-field.v-field--focused .v-field__outline, .v-input.v-input--error .v-field__outline {
  opacity: 0 !important;
}

.font-700 {
  font-weight: 700 !important;
}
@media only screen and (min-width: 992px) {
.checkbox-container-question {
  flex-direction: row;
}

  .research-buttons {
    position: absolute;
  }

  label {
    font-size: 1rem;
    /* line-height: 0.016rem; */
  }

  p {
    font-size: 1.25rem;
    line-height: 2.25rem;
  }

  .description-enrollment {
    width: 70%;
  }

  .g-map {
    width: 50%;
    height: calc(100vh - 250px);
  }

  .g-map-container {
    width: 100%;
    height: calc(100vh - 250px);
    position: absolute;
    border-radius: 0.62rem;
    -webkit-border-radius: 0.62rem;
    -moz-border-radius: 0.62rem;
    -ms-border-radius: 0.62rem;
    -o-border-radius: 0.62rem;
  overflow: hidden;
  }

  .map-and-question {
    flex-direction: row;
  }

  .question {
    width: 50%;
    box-sizing: border-box;
    min-height: 450px;
    height: 100%;
    padding-left: 2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .question label {
    margin-top: 3rem;
  }

  .research-buttons {
    max-width: 300px;
    right: 0;
    margin-right: 4rem;
    padding: 0 0 4rem 0 !important;
  }
  
  .section-of-anwsers {
    flex-direction: row;
  }
  
  .section-of-anwsers > div {
    width: 49%;
  }

  .section-detail {
    flex-direction: row;
  }

  .section-detail > div {
    width: 49%;
    gap: 0;
  }

  .go-to-explorer {
    width: 100% !important;
    flex-direction: row !important;
  }

  .go-to-explorer > span:first-child {
    width: 50% !important;
  }

  .go-to-explorer__information {
    width: 50% !important;
    margin-bottom: -1rem;
  }
}